body{
    margin: 0px;
    font-family: sans-serif;
}

#page-heading{
    text-align: center;
    margin-top: 25px;
    color: gray;
}

.contact-list-container{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

li{
    list-style: none;
}


.single-contact{
    background-color: blue;
    color: white;
    margin-top: 5px;
    display: flex;
    justify-content: space-around;
    width: 200px;
    height: 40px;
    border-radius: 10px 10px 10px 10px;
}

li p{
    display: inline;
    margin-right: 10px;
}

form{
    text-align: center;
}